.arsenal {
	background-image: url("images/clubs/Arsenal.ico");
}
.aston-villa {
	background-image: url("images/clubs/Aston_Villa.ico");
}
.birmingham-city {
	background-image: url("images/clubs/Birmingham_City.ico");
}
.blackburn-rovers {
	background-image: url("images/clubs/Blackburn_Rovers.ico");
}
.bolton-wanderers {
	background-image: url("images/clubs/Bolton_Wanderers.ico");
}
.burnley-fc {
	background-image: url("images/clubs/Burnley_FC.ico");
}
.cardiff-city {
	background-image: url("images/clubs/Cardiff_City.ico");
}
.celtic {
	background-image: url("images/clubs/Celtic.ico");
}
.chelsea {
	background-image: url("images/clubs/Chelsea.ico");
}
.coventry-city {
	background-image: url("images/clubs/Coventry_City.ico");
}
.darby-county {
	background-image: url("images/clubs/Darby_County.ico");
}
.england {
	background-image: url("images/clubs/England.ico");
}
.everton {
	background-image: url("images/clubs/Everton.ico");
}
.fulham-fc {
	background-image: url("images/clubs/Fullham_FC.ico");
}
.glascow-rangers {
	background-image: url("images/clubs/Glascow_Rangers.ico");
}
.hearts-fc {
	background-image: url("images/clubs/Hearts_FC.ico");
}
.ipswich-town {
	 background-image: url("images/clubs/Ipswich_Town.ico");
}
.ireland {
	background-image: url("images/clubs/Ireland.ico");
}
.leads-united {
	background-image: url("images/clubs/Leads_United.ico");
}
.leicester-city {
	background-image: url("images/clubs/Leicester_City.ico");
}
.liverpool-fc {
	background-image: url("images/clubs/Liverpool_FC.ico");
}
.manchester-city {
	background-image: url("images/clubs/Manchester_City.ico");
}
.manchester-united {
	background-image: url("images/clubs/Manchester_United.ico");	
}
.middlesbrough {
	background-image: url("images/clubs/Middlesbrough.ico");
}
.millwall-FC {
	background-image: url("images/clubs/Millwall_FC.ico");
}
.newcastle-united {
	background-image: url("images/clubs/Newcastle_United.ico");
}
.northern-ireland {
	background-image: url("images/clubs/Northern_Ireland.ico");
}
.norwich-city {
	background-image: url("images/clubs/Norwich_City.ico");
}
.nottingham-forest {
	background-image: url("images/clubs/Nottingham_Forest.ico");
}
.portsmouth-fc {
	background-image: url("images/clubs/Portsmouth_FC.ico");
}
.queens-park-rangers {
	background-image: url("images/clubs/Queens_Park_Rangers.ico");
}
.reading {
	background-image: url("images/clubs/Reading.ico");
}
.scotland {
	background-image: url("images/clubs/Scotland.ico");
}
.sheffield-wendesday {
	background-image: url("images/clubs/Sheffield_Wendesday.ico");
}
.southampton-fc {
	background-image: url("images/clubs/Shouthampton_FC.ico");
}
.stoke-city {
	background-image: url("images/clubs/Stoke_City.ico");
}
.sunderland {
	background-image: url("images/clubs/Sunderland.ico");
}
.swansea-city {
	background-image: url("images/clubs/Swansea_City.ico");
}
.tottenham-hotspur {
	background-image: url("images/clubs/Tottenham_Hotspur.ico");
}
.watford-fc {
	background-image: url("images/clubs/Watford_FC.ico");
}
.west-bromwich-albion {
	background-image: url("images/clubs/West_Bromwich_Albion.ico");
}
.west-ham-united {
	background-image: url("images/clubs/West_Ham_United.ico");
}
.wigan-athletic {
	background-image: url("images/clubs/Wigan_Athletic.ico");
}
.wolverhampton-wanderers {
	background-image: url("images/clubs/Wolverhampton_Wanderers.ico");
}
.wrexham {
	background-image: url("images/clubs/Wrexham.ico");
}
