body {
	font-family: "Helvetica", Helvetica, sans-serif;
    margin-right: 0px;
    color: white;
    overflow-x: hidden
}
.blue-back {
	background-color: #012060;
}
.no-padding {
	padding: 0px;	
}
.border-full {
	border: 1px solid black;
}
.full-height {
	height: 100%;
}
.top-five {
  text-align: center;
  color: red;
}
.cover {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.field {
  background-image: url("images/dullfield.png");
}
.y-value {
	width: 100%;
	text-align: right;
	height: 20%
}
.circle {    
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;          
}
.normal {  
  width: 3.3vw;
  height: 3.3vw;
  border: 2px solid #012060; 
}
.halo-green{
  width: 4vw;
  height: 4vw;  
  border: 5px solid rgba(0,255,0,0.5);
  top: 0%;
  transform: translateY(-50%);
}
.halo-red{
  width: 4vw;
  height: 4vw;  
  border: 5px solid rgba(255,0,0,0.5);
  top: 0%;
  transform: translateY(-100%);
}
.halo-whitw{
  width: 4vw;
  height: 4vw;  
  border: 5px solid rgba(255,255,255,0.5);
  top: 0%;
  transform: translateY(-100%);
}