body {
	font-family: "Helvetica", Helvetica, sans-serif;
    margin-right: 0px;
    color: white;
}
.blue-back {
	background-color: #012060;
}
.no-padding {
	padding: 0px;	
}
.border-full {
	border: 1px solid black;
}
.full-height {
	height: 100%;
}
.field {
  background-image: url("images/dullfield.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.y-value {
	width: 100%;
	text-align: right;
	height: 20%
}
.circle {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 2px solid #012060;    
}