html {
  height: 50%;
}
body {  
	font-family: "Helvetica", Helvetica, sans-serif;
  margin: 0%;
  color: white;
  overflow-x: hidden
}
.blue-back {
	background-color: #012060;
}
.grey-back {
  background-color: #2D2D2D; 
}
.no-padding {
	padding: 0px;	
}
.border-full {
	border: 1px solid black;
}
.full-height {
	height: 100%;
}
.top-five {
  text-align: center;
  background-color: white;
  color: red;
}
.cover {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.field {
  background-image: url("../images/green.png");
  background-size: 100% 100%;
  border-top: 1px solid white;
}
.y-value {
  padding-right: 2px;
	width: 100%;
	text-align: right;
	height: 20%;
  border-top: 1px solid white;
}
.last-value {
  padding-right: 2px;
  width: 100%;
  text-align: right;
  height: 20%;
}
.circle {    
    position: relative;
    overflow: hidden;    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;          
}
div[class^='halo'],div[class*=' halo']:hover{ 
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}
.normal {
  background-color: rgba(0,0,0,0.2);
  width: 50px;
  height: 50px;
  border: 2px solid #012060; 
}
.shadow {
  background-color: rgba(0,0,0,0.5);
  width: 50px;
  height: 50px;
  position: absolute;
}
.medium {
  width: 105px;
  height: 105px;  
}
.big {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(200,200,200,0.5);
}
.halo-green{
  width: 60px;
  height: 60px;  
  border: 5px solid rgba(0,255,0,0.5);
  top: 0%;
  transform: translateY(-100%);
}
.halo-red{
  width: 60px;
  height: 60px;  
  border: 5px solid rgba(255,0,0,0.5);
  top: 0%;
  transform: translateY(-100%);
}
.halo-white{
  width: 60px;
  height: 60px;  
  border: 5px solid rgba(255,255,255,0.5);
  top: 0%;
  transform: translateY(-100%);
}
.no-transform {
  transform: translateY(0%); 
}
.sliderLabel
{
    position: absolute;
    top: 20;
    text-align: center;
    display: inline-block;
    background-color: #fff;    
    padding: 0 5px;        
    margin-left: -4px;
    color: black;
}
.team-box {
  height: 100%;
  background-color: #2D2D2D;
  padding: 15px;  
}
.team-header {
   border-bottom: 3px solid red;
   font-size: 2em;
}
.team-small-box {
  padding: 0px;
  font-size: 1.5em;
  text-align: right;
}
.team-medium-box {
  padding: 0px;
  font-size: 1.8em;
  text-align: right;
}
.team-medium-left {
  padding: 0px;
  font-size: 1.8em;
  text-align: left;
  color: red;
}
.team-smaller-box {
  padding: 0px;
  padding-left: 10px;
  font-size: 1.5em;
  text-align: left;
  color: red;
}
.hover-box {
  position: absolute;
  height: 180px;
  width: 400px;
  background-color: rgba(90,90,90,0.9);
}
.form-hover-box {
  position: absolute;  
}
.header-icon {
  position: absolute;
  left: 20px;
  height: 200px;
  width: 300px;
  background-image: url("../images/bpl.png");
}
.compare-default {
  font-size: 2em;
  border: 2px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}
.right-column-box {
  padding: 0px;
  width: 80%;
  margin: 0 auto;
  height: fit-content;
}
.form-box {
  height: 100%;
  border: 2px solid #404040;
}
.green {
  background-color: rgba(0,255,0,0.4);
}
.white {
  background-color: rgba(255,255,255,0.4);
}
.red {
  background-color: rgba(255,0,0,0.4);
}
.wins-bar {
  width: 10%;
  background-color: rgba(0,127,255,0.7);
  position: absolute;
  left: 20%;
  bottom: 50px;
}
.draws-bar {
  width: 10%;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  left: 45%;
  bottom: 58px;
}
.losses-bar {
  width: 10%;
  background-color: rgba(255,91,0,0.5);
  position: absolute;
  left: 70%;
  bottom: 50px;
}